<!DOCTYPE html>

<html>
	<title>Admin </title>
	   <h1>Admin</h1>
    <form method="post" action="login">
      <p><label>Username<br /><input type="text" name="username" maxlength="128" required></label></p>
	  <p><label>Password<br /><input type="password" name="password" maxlength="128" ></label></p>
      <p><button type="submit">Login</button></p>
    </form>
	<p><a href = '/'> Homepage </a><br>
	<a id="shutdown"; href="./shutdown">Shutdown Server ( In case the server didnt close)</a>
</html>