<html>
    <head>
        <style>
    body {
  background-image: url('static/png/The-Forbidden-Forest.jpg');
  background-size: cover;
}
</style>
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
    </head>
	<title>Cinder Block </title>
	<center> <h1> Cinder block  </h1><br>
        <div><body><p> Apparently you chose to picked up the cinder block witch make you feel safer. You enter the forest.
			After walking a bit, perceive a light in the distance between the trees. It seems like a campfire.
            What will you do? It is not to late to run back to your car... </p></div><br>

    <form action="/addchoix2AA">
        <input type="submit"  name = "choix" value=" Run " />
</form>

    <form action="/addchoix2AB">
        <input type="submit" name = "choix" value=" Go check " />
</form></center>


    </body><br><br><br><br><br><br><br>




</html>