<html>
<head>
    <style>
    body {
  background-image: url('static/png/The-Forbidden-Forest.jpg');
  background-size: cover;
}
</style>
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
    </head>
	<title>Flight </title>
	<center><h1> Flight  </h1><br>
        <body><div><p> It seemed to be nothing much than people enjoying the forest by night so you decided to head back to your car.
        On your way back you play with the drone, making it fly between the trees, this looks very cool.
            Unfortunately, your drone hits a branch and falls down. It's broken. As you realise you broke something so cool, you begin to cry.
            You then lay down on the ground, sobbing. But its cold out there, hypothermia gets you.</p></div>
        <p><img src=" static/png/wasted.png"></p>


        </center></body><br><br><br><br>

	<ul class = "fixed">
		<li><a href = '/'> Start a new game </a></li>
		<li><a href = 'leaderboard'> Choices </a></li>
	</ul>


</html>