<html>
	<head>
		<style>
    body {
  background-image: url('static/png/The-Forbidden-Forest.jpg');
  background-size: cover;
}
		</style>
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
    </head>
	<title>Scream </title>
	<h1> So you scream ! </h1>
	<body><center><div><p> Just after you screamed, you hear something back. What do you do ? </p></div></center></body>


	
	<center>

		<form action="/addchoix1A">
			<center><input type="submit" name = "choix" value="Go to the car" /></center>
		</form>

		<form action="/addchoix1B">
			<center><input type="submit" name = "choix" value="Go to the scream" /></center>
		</form>
	</center>

</html>