<html>

<head>
    <style>
    body {
  background-image: url('static/png/The-Forbidden-Forest.jpg');
  background-size: cover;
}
</style>
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
    </head>
	<title>Trunk </title>

	<center><h1> Trunk  </h1>
       <div><body><p> <strong>So you decided to check for something useful you could have in the trunk.
    In there, you find three different things : </strong></p><br>
    <p>-The first one is a cinder block, you had no idea why the hell there was one in your trunk but it might eventually be useful.</p>
    <p>-The second object is a PC, your forever friend.</p>
    <p>-The third one is the drone you made yourself for a school project. Very cool item.</p><br>
    <p>Witch one of those three items will you pick? Yes one, you don't want to hurt yourself carrying to much things at a time.</p>
            <p>Choose wisely...</p>
        </body></div><br>

	</center><br><br>
<center>
    <form action="/addchoix2A">
        <input type="submit" name = "choix" value=" Cinder block " />
    </form>
    <form action="/addchoix2B">
        <input type="submit" name = "choix" value=" PC " />
    </form>

    <form action="/addchoix2C">
        <input type="submit" name = "choix" value=" Drone " />
    </form></center>

</html>