<html>
<head>
    <style>
   body {
  background-image: url('static/png/fire.jpg');
  background-size: cover;
}
</style>
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
    </head>
	<title>Campfire </title>
    <center><h1> Campfire </h1><br>

        <body><div><p> Curious, you go on walking in the forest to find out what is that light you see.
        It's a campfire as it seemed to be. It is cold out here so you decide to sit next to the fire.
        Suddenly, you see a strange creature coming up to you. Something you thought was only a myth... It was a girl.
            She got attracted by the light your drone makes. What a good idea it was to put leds on it.
            The girl explains that she is being followed by someone and that you have the flee.
            So you both run back to the car, the drone illuminating the way. </p></div><br>

        <p> It's a happy ending for you. You managed to get out of the forest alive and on the top of that, you won't get home alone tonight. </p>

        <p><strong> Congratulations ! </strong></p>



        </center></body><br><br><br><br><br><br>

	<ul class = "fixed">
		<li><a href = '/'> Start a new game </a></li>
		<li><a href = 'leaderboard'> Choices </a></li>
	</ul>

</html>