<html>
<head>
    <style>
    body {
  background-image: url('static/png/fire.jpg');
  background-size: cover;
}
</style>
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
    </head>
	<title>Campfire </title>
    <center><h1> Campfire </h1><br>

        <body><div><p> Curious, you go on walking in the forest to find out what is that light you see.
        It's a campfire as it seemed to be. It is cold out here so you decide to sit on you cinder block next to the fire.
        Suddenly, you hear steps coming from behind. You stand up, the block in your hands and see a man in a black hood approaching.
        Without thinking, you throw the block at it but it breaks as it hits the man. What a great option you choose picking the cinder block.
            The man comes to you and puts his hand on your throat. Everything goes dark.</p></div>

        <p><img src=" static/png/wasted.png"></p>



        </center></body>

	<ul class = "fixed">
		<li><a href = '/'> Start a new game </a></li>
		<li><a href = 'leaderboard'> Choices </a></li>
	</ul>
</html>