<html>

<head>
    <style>
    body {
  background-image: url('static/png/The-Forbidden-Forest.jpg');
  background-size: cover;
}
	</style>
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
    </head>
	<title>Flee </title>
	<h1> You run </h1>
	
	<center><div><p> YOU COWARD ! That's how you're gonna handle life, just run?
		You lost control of yourself and the keys of your car. You run into the woods, but
		you weren't running fast enough. Indeed, a man with a chainsaw appears in front of you.
        You don't even deserve to know the end of the story.</p></div></center>
	</center>
<p><img src=" static/png/wasted.png"></p>


	<ul class = "fixed">
		<li><a href = '/'> Start a new game </a></li>
		<li><a href = 'leaderboard'> Choices </a></li>
	</ul>

</html>