<html>
<head>
    <style>
    body {
  background-image: url('static/png/The-Forbidden-Forest.jpg');
  background-size: cover;
}
</style>
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
    </head>
	<title>Run </title>
	<center><h1> Run  </h1><br>
        <body><div><p> Panic and fear took possession you. You run in the woods heading back to your car. Unfortunately, you stumble on a root.
            Your PC falls on the ground and breaks. Screen, keyboard, components, everything is broken.
            As you realise that you can't save anything from the PC, you begin to cry. You then lay down on the ground, sobbing.
            But its cold out there, hypothermia gets you.</p></div>
        <p><img src=" static/png/wasted.png"></p>

        </body></center><br><br><br><br>

	<ul class = "fixed">
		<li><a href = '/'> Start a new game </a></li>
		<li><a href = 'leaderboard'> Choices </a></li>
	</ul>

</html>