<html>
<head>
            <style>
    body {
  background-image: url('static/png/The-Forbidden-Forest.jpg');
  background-size: cover;
}
</style>
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
    </head>
	<title>Drone </title>
	<center> <h1> Drone </h1><br>
        <body><div><p> Apparently you chose to pick up the wonderful project you made. You enter the forest, the drone flying next to you making you look badass.
			After walking a bit, perceive a light in the distance between the trees. It seems like a campfire.
            What will you do? It is not to late to go back to your car... </p></div><br>

    <form action="/addchoix2CA">
        <input type="submit" name = "choix" value=" Go back peacefully " />
</form>

    <form action="/addchoix2CB">
        <input type="submit" name = "choix" value=" Go check " />
</form></body></center>




</html>