<html>
<head>
    <style>
    body {
  background-image: url('static/png/fire.jpg');
  background-size: cover;
}
</style>
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
    </head>
	<title>Campfire </title>
	<center><h1> Campfire </h1><br>

        <body><div><p> Curious, you go on walking in the forest to find out what is that light you see.
        It's a campfire as it seemed to be. It is cold out here so you decide to sit next to the fire and launch your favorite video game.
        Suddenly, you hear steps and see someone approaching you. Devolved, you fail to game you where playing.
            Screwed as hell, you decide to cast him the black look as a revenge. This was not very effective.
            The man comes to you and puts his hand on your throat. Everything goes dark.</p></div><br>

        <p><strong> WASTED </strong></p>



        </center></body><br><br><br><br><br><br>

	<ul class = "fixed">
		<li><a href = '/'> Start a new game </a></li>
		<li><a href = 'leaderboard'> Choices </a></li>
	</ul>

</html>