<html>
<head>
    <style>
    body {
  background-image: url('static/png/The-Forbidden-Forest.jpg');
  background-size: cover;
}
</style>
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
    </head>
	<title>Scream </title>
	<center><h1> You go to the scream</h1>

	<body><div><p> When walking in the woods anxiety took over you. You panicked.</p>
	      <p>It was so dark that you were seeing monsters everywhere.</p>
        <p>Suddenly a rabbit came out from the bush, you were so scared that you die.</p></div>
    <p><img src=" static/png/wasted.png"></p>
	</body></center>
	
	<ul class = "fixed">
		<li><a href = '/'> Start a new game </a></li>
		<li><a href = 'leaderboard'> Choices </a></li>
	</ul>


</html>