<html>
<head>
    <style>
    body {
  background-image: url('static/png/The-Forbidden-Forest.jpg');
  background-size: cover;
}
</style>
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
    </head>
	<title>Police </title>
	<center><h1><p> Calling the police </p></h1>

	<body><div><p>Counting on other's help doesn't help you dude.
		You call the police but they don't believe you. They laugh back at you.
        You didn't help the person in the woods, you are going to feel guilty for the rest of your life.</p></div></body>
	</center>

  <p><img src=" static/png/wasted.png"></p>
	<ul class = "fixed">
		<li><a href = '/'> Start a new game </a></li>
		<li><a href = 'leaderboard'> Choices </a></li>
	</ul>

</html>