<html>
<head>
            <style>
    body {
  background-image: url('static/png/The-Forbidden-Forest.jpg');
  background-size: cover;
}
</style>
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
    </head>
	<title>PC </title>
	<center> <h1> PC  </h1><br>
        <body><div><p> The PC seemed to you to be the most useful item to go with in a forest. Interesting...
        You enter the forest. After walking a bit, perceive a light in the distance between the trees. It seems like a campfire.
            What will you do? It is not to late to run back to your car...</p></div><br>

    <form action="/addchoix2BA">
        <input type="submit"  name = "choix" value="  Run " />
</form>

    <form action="/addchoix2BB">
        <input type="submit" name = "choix" value=" Go check " />
</form></center>


    </body><br>



</html>