<html>

	<head>
		<style>
body {
	background-image: url('static/png/The-Forbidden-Forest.jpg');
	background-size: cover;
}
		</style>
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
    </head>
	<title>Car </title>
	<center>
		<h1>Going back to your car </h1>

		<body>
			<div>
				<p>You feel guilty (you're right to feel that). As you sit in your car you envisage to call the police. They'll do their job and
				everybody will be happy.
				Or you decide to go back home and pretend that nothing of that happened. After all it's not your business</p>
			</div>
		</body>
    </center>
	<form action="/addchoix1AA">
		<center><input type="submit"  name = "choix" value="Call the police." /></center>
	</form>
	<form action="/addchoix1AB">
		<center><input type="submit"  name = "choix" value="Go back home." /></center>
	<form>


</html>