<html>
<head>
    <style>
    body {
  background-image: url('static/png/The-Forbidden-Forest.jpg');
  background-size: cover;
}
</style>
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
    </head>
	<title>Home </title>
	<center><h1> Going back home </h1>
		<body><div><p>On the way back to your home you hear the scream again.
            You are so scared that someone followed you that you didn't pay attention to the truck heading at you...
        </p></div></body>

        <p><img src=" static/png/wasted.png"></p>
	</center><br><br><br>
	
	<ul class = "fixed">
		<li><a href = '/'> Start a new game </a></li>
		<li><a href = 'leaderboard'> Choices </a></li>
	</ul>

</html>