<!DOCTYPE html>
<html lang="en">

    <head>
	<style>
body {
	background-image: url('static/png/The-Forbidden-Forest.jpg');
}

	</style>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    </head>

    <title>The Game </title>
    <center><h1><strong> Welcome to the game </strong></h1></center>

	<center>
		<body>
			<div><p>A forest, in the dark, you are alone... Something strange is in the dark, what is it? 
			Are you brave enough ?
			Welcome to a game where you are the main character. 
			Every choice you make is a choice between life and death...
			Be careful and remenber, there is always something lurking in the shadow...</p>
			</div>
		</body>
	</center>	   

    <form method="post" action="addPseudo">
      <p><label><br>Add a pseudo<br/><input type="text" name="pseudo" maxlength="128" required></label></p>
      <p><button type="submit">Begin to play</button></p>
    </form>

	<ul class = "fixed">
		<li><a href = "leaderboard"> Click here to see your choice </a></li>
		<li><a href="admin"> Admin </a></li>
	<ul>
	
</html>