
<html>

    <head>
        <style>
    body {
  background-image: url('static/png/The-Forbidden-Forest.jpg');
}
		</style>
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
    </head>
	<title>Base</title>

    <center><h1><strong>And so it begins...</strong></h1>

        <body><div><p> You are in the woods, you spend a few hours with your dog walking around but as it is getting dark, you decide to head back to your car.
    After you close the door behind your dog, you hear a scream. It appears to be a woman. You remember that you've got some items in your trunk that could be useful. What do you do?  </p><br>
            <p>Choose wisely...</p></div></center>
</body>
    <center>
        <form action="/addchoix1"  >
        <input type="submit"  name = "choix" value=" Scream back " />
        </form>

    <form action="/addchoix2">
        <input type="submit" name = "choix" value=" Check the trunk " />
    </form>

    <form action="/addchoix3">
        <input type="submit" name = "choix" value=" Flee " />
    </form></center>

</html>